.movie-details-card {
    max-width: 1440px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: var(--card-background); /* Adapt to theme */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    @media (max-width: 768px) {
        flex-direction: column;
        }
        :where(.css-dev-only-do-not-override-1wwf28x).ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
            background: #fff;
            color: var(--primary-color);
            box-shadow: none;
            outline: none;
        }
        .buttons-div{
            align-items: baseline;
    display: flex;
    justify-content: center;}
        
        .favorite-btn {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 14px;
            display: flex;
            gap: 8px;
            color: var(--primary-color);
            transition: color 0.3s ease;
      
            &:hover {
              color: var(--primary-hover-color);
            }
      
            &.favorited {
              color: red;
            }
          }
    .movie-poster {
      align-self: center;
      img {
        max-width: 300px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      }
    }
  
    .movie-info {
      text-align: center;
  
      .movie-title {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 10px;
      }
  
      .movie-meta {
        text-align: left;
        margin: 20px 0;
  
        p {
          margin: 5px 0;
  
          strong {
            color: var(--primary-color);
          }
        }
      }
  
      .movie-plot {
        text-align: left;
        margin-top: 20px;
  
        strong {
          font-size: 16px;
          color: var(--primary-color);
        }
  
        p {
          font-size: 14px;
          line-height: 1.5;
        }
      }
    }
  
    @media (max-width: 768px) {
      .movie-poster img {
        max-width: 100%;
      }
  
      .movie-info {
        .movie-title {
          font-size: 24px;
        }
      }
    }
    
  }
  .spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
  